body{
    margin:0px;
    /* main-page */
  
  
  position: relative;
  width: 100vw;
  height: 12200px;

  font-family: 'Apple SD Gothic Neo';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */
  
  letter-spacing: 0.05em;
  
  color: #000000;
  
  }
  
  
  /* .top{
    position: relative;
    width: 1440px;
    height: 800px;
    
    background-image: url('img1/ncup-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */

  .top{
    position: absolute;
    width: 1440px;
    height: 874px;
    left: 0px;
    top: 0px;
    
    background: url(img1/top-img.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .logo{
      /* MiniGongGan */
  
  
      position: absolute;
      width: 146px;
      height: 24px;
      left: 63px;
      top: 39px;
  
      font-family: Apple SD Gothic Neo;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
  
      letter-spacing: 0.15em;
  
      color: #000000;
  
  }
  
  #a1{
      display: block;
      color: black;
      text-decoration: none;
  
  }
  
  
  
  .menu-work{
      /* Work */
  
  
      position: absolute;
      width: 44px;
      height: 24px;
      left: 1194px;
      top: 39px;
  
      font-family: Apple SD Gothic Neo;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
  
  
      color: #000000;
  }
  
  
  
  .menu-contact{
      /* Contact */
  
  
      position: absolute;
      width: 65px;
      height: 24px;
      left: 1285px;
      top: 39px;
  
      font-family: Apple SD Gothic Neo;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
  
  
      color: #000000;
  }
  

.content-left{
    position: absolute;;
    width:702px;
}

.emoji{
    position: absolute;

    height: 36px;

    left: 146px;
    top: 1036px;
}


.title{
    position: absolute;
    width: 135px;
    height: 42px;
    left: 143px;
    top: 1081px;
    
    /* head */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.subtitle-rec{
    position: absolute;
    width: 501px;
    height: 23px;
    left: 143px;
    top: 1230px;
    
    background: #EAC8FF;
}

.subtitle{

    position: absolute;
    width: 501px;
    height: 30px;
    left: 146px;
    top: 1223px;
    
    /* title */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}


.school{
    position: absolute;
    width: 142px;
    height: 18px;
    left: 142px;
    top: 1270px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.role{


    position: absolute;
    width: 32px;
    height: 18px;
    left: 146px;
    top: 1368px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;

}

/* Line 6 */

.role-line{

    position: absolute;
    width: 30px;
    height: 0px;
    left: 146px;
    top: 1386px;
    
    border: 1px solid #000000;
    
}

.role-text{
    position: absolute;
    width: 220px;
    height: 112px;
    left: 146px;
    top: 1416px;
    
    /* text */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}


.overview{

    position: absolute;
    width: 69px;
    height: 18+;
    left: 732px;
    top: 1292px;
    
    /* subtitle */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}

.overview-line{


    position: absolute;
    width: 68px;
    height: 0px;
    left: 733px;
    top: 1310px;
    
    border: 1px solid #000000;
    
}

.overview-text{
    position: absolute;
    width: 566px;
    height: 224px;
    left: 732px;
    top: 1334px;
    
    /* text */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    
    color: #000000;
}


.define{

    position: absolute;
    width: 111px;
    height: 42px;
    left: 143px;
    top: 1735px;
    
    /* head */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.brief{
 
position: absolute;
width: 35px;
height: 18px;
left: 144px;
top: 1964px;

font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;

}

.brief-line{
      /* Line 10 */
    
      position: absolute;
      width: 34px;
      height: 0px;
      left: 144px;
      top: 1982px;
      
      border: 1px solid #000000;
      
}

.brief-text{
    position: absolute;
    width: 490px;
    height: 208px;
    left: 144px;
    top: 2065px;
    
    /* text */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}


.approach{
    position: absolute;
    width: 70px;
    height: 18px;
    left: 733px;
    top: 1964px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.approach-line{ 
    position: absolute;
    width: 68px;
    height: 0px;
    left: 734px;
    top: 1982px;
    
    border: 1px solid #000000;
}

.approach-text{
    position: absolute;
    width: 563px;
    height: 168px;
    left: 733px;
    top: 2063px;
    
    /* text */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
      
}


.rtd{
    position: absolute;
    width: 153px;
    height: 42px;
    left: 143px;
    top: 2477px;
    
    /* head */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.workshop{
    position: absolute;
    width: 900px;
    height: 18px;
    left: 147px;
    top: 2623px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}

.w-line{
    position: absolute;
    width: 133px;
    height: 0px;
    left: 148px;
    top: 2641px;
    
    border: 1px solid #000000;
      
}

.w-text{
    position: absolute;
    width: 491px;
    height: 391px;
    left: 143px;
    top: 2817px;
    
    /* text */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
      
}

.rtd-1{
    position: absolute;
    width: 614px;
    height: 579px;
    left: 696px;
    top: 2679px;
    
}

.rec-pop{

    position: absolute;
    width: 1152px;
    height: 322px;
    left: 138px;
    top: 3320px;
    
}

.w-img3{
    position: absolute;
    width: 1124px;
    height: 434px;
    left: 158px;
    top: 3739px;
}


.me{
    position: absolute;
    width: 192px;
    height: 192px;
    left: 167px;
    top: 4400px;
}
.p1{
    position: absolute;
    width: 380px;
    height: 20px;
    left: 571px;
    top: 4384px;
    
    background: #EAC8FF;
}
.p2{
    position: absolute;
    width: 376px;
    height: 20px;
    left: 666px;
    top: 4454px;
    
    background: #EAC8FF;
}
.p3{
    position: absolute;
    width: 541px;
    height: 20px;
    left: 536px;
    top: 4532px;
    
    background: #EAC8FF;
}
.p1-t{
    position: absolute;
    width: 724px;
    height: 35px;
    left: 438px;
    top: 4377px;
    
    /* bubble */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 175% */
    
    letter-spacing: 0.07em;
    
    color: #000000;
    
}
.p2-t{
    position: absolute;
    width: 859px;
    height: 35px;
    left: 536px;
    top: 4447px;
    
    /* bubble */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 175% */
    
    letter-spacing: 0.07em;
    
    color: #000000;
}
.p3-t{
    position: absolute;
    width: 759px;
    height: 35px;
    left: 438px;
    top: 4526px;
    
    /* bubble */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 175% */
    
    letter-spacing: 0.07em;
    
    color: #000000;
}

.r-bg{
    position: absolute;
    width: 1440px;
    height: 506px;
    left: 0px;
    top: 4725px;
    
    background: #EAC8FF;
}
.r-in{
    position: absolute;
    width: 662px;
    height: 430px;
    left: 144px;
    top: 4764px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.r-ux{

    position: absolute;
    width: 439px;
    height: 430px;
    left: 857px;
    top: 4764px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}



.insight{
    position: absolute;
    width: 50px;
    height: 18px;
    left: 167px;
    top: 4791px;
    
    /* subtitle */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}
.insight-text{
    position: absolute;
    width: 604px;
    height: 152px;
    left: 173px;
    top: 4863px;
    
    /* text */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
       
}

.ux{
    position: absolute;
    width: 135px;
    height: 18px;
    left: 885px;
    top: 4791px;
    
    /* subtitle */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.ux-text{
    position: absolute;
    width: 389px;
    height: 248px;
    left: 882px;
    top: 4863px;
    
    /* text */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
     
}



.ana{
    position: absolute;
    width: 140px;
    height: 42px;
    left: 143px;
    top: 5443px;
    
    /* head */
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 35px;
    line-height: 42px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
      
}

.persona{
    position: absolute;
    width: 59px;
    height: 18px;
    left: 144px;
    top: 5617px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.persona-line{
    position: absolute;
    width: 55px;
    height: 0px;
    left: 145px;
    top: 5635px;
    
    border: 1px solid #000000; 
}

.persona-text{
    position: absolute;
    width: 1157px;
    height: 442px;
    left: 147px;
    top: 5687px;  
}

.j-m{
    position: absolute;
    width: 100px;
    height: 18px;
    left: 145px;
    top: 6214px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}
.j-m-line{

    position: absolute;
    width: 93px;
    height: 0px;
    left: 146px;
    top: 6232px;
    
    border: 1px solid #000000;
}

.j-img{
    position: absolute;
    width: 1141.24px;
    height: 687.04px;
    left: 146px;
    top: 6282px;
}
.h-img{
    position: absolute;
    width: 1142px;
    height: 725.04px;
    left: 145px;
    top: 7112px;
}

.design{
    
position: absolute;
width: 114px;
height: 42px;
left: 143px;
top: 8024px;

/* head */

font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 800;
font-size: 35px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}


.cn{
    position: absolute;
    width: 230px;
    height: 18px;
    left: 144px;
    top: 8192px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}
.cn-line{
    position: absolute;
    width: 224px;
    height: 0px;
    left: 145px;
    top: 8210px;
    
    border: 1px solid #000000;

}

.cn-img{

    position: absolute;
    width: 1142px;
    height: 2221px;
    left: 145px;
    top: 8264px;
       
}


.workflow{

    position: absolute;
    width: 70px;
    height: 18px;
    left: 145px;
    top: 10590px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}
.workflow-line{

    position: absolute;
    width: 69px;
    height: 0px;
    left: 143px;
    top: 10608px;
    
    border: 1px solid #000000;
}
.wire{
    position: absolute;
    width: 76px;
    height: 18px;
    left: 541px;
    top: 10590px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}
.wire-line{
    position: absolute;
    width: 75px;
    height: 0px;
    left: 542px;
    top: 10608px;
    
    border: 1px solid #000000;
}
.st{


    position: absolute;
    width: 126px;
    height: 18px;
    left: 946px;
    top: 10590px;
    
    font-family: 'Apple SD Gothic Neo';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}
.st-line{
    position: absolute;
    width: 122px;
    height: 0px;
    left: 947px;
    top: 10608px;
    
    border: 1px solid #000000;
}
.iimg1{
    position: absolute;
    width: 1103px;
    height: 404px;
    left: 151px;
    top: 10688px;
}

.back{

position: absolute;
left: 77.29%;
right: 12.29%;
top: 98.61%;
bottom: 1.1%;

/* bubble */

font-family: 'Apple SD Gothic Neo';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 35px;
/* identical to box height, or 175% */

letter-spacing: 0.07em;

color: #000000;
}