body{
    margin:0px;
    /* main-page */
  
  
  position: relative;
  width: 90%;
  height: 11300px;
  font-family: Apple SD Gothic Neo;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px; 
  

  }
  
  
  /* .top{
    position: relative;
    width: 1440px;
    height: 800px;
    
    background-image: url('img1/ncup-bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  } */

  .top{
    position: absolute;
    width: 1440px;
    height: 874px;
    left: 0px;
    top: 0px;
    
    background: url(img1/ncup-bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .logo{
      /* MiniGongGan */
  
  
      position: absolute;
      width: 146px;
      height: 24px;
      left: 63px;
      top: 39px;
  
      font-family: Apple SD Gothic Neo;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
  
      letter-spacing: 0.15em;
  
      color: #000000;
  
  }
  
  #a1{
      display: block;
      color: black;
      text-decoration: none;
  
  }
  
  
  
  .menu-work{
      /* Work */
  
  
      position: absolute;
      width: 44px;
      height: 24px;
      left: 1194px;
      top: 39px;
  
      font-family: Apple SD Gothic Neo;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
  
  
      color: #000000;
  }
  
  
  
  .menu-contact{
      /* Contact */
  
  
      position: absolute;
      width: 65px;
      height: 24px;
      left: 1285px;
      top: 39px;
  
      font-family: Apple SD Gothic Neo;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */
  
  
      color: #000000;
  }
  

.content-left{
    position: absolute;;
    width:702px;
}

.emoji{
    position: absolute;

    height: 36px;
    left: 88px;
    top: 1032px;
}

/* disposable */
/* 
#dis{

position: relative;


    
}

#earth{
    position: relative;
    width: 30px;
    height: 30px;
    left: 189px;

}





#cup{
    position: relative;
    width: 33px;
    height: 36px;
    left: 88px;
} */


.title{
    position: absolute;
    width: 122px;
    height: 60px;
    left: 91px;
    top: 1081px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.subtitle{

position: absolute;
width: 402px;
height: 32px;
left: 97px;
top: 1233px;

background: #EAC8FF;
text-align: center;

font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 30px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}

.school{
    position: absolute;
    width: 150px;
    height: 18px;
    left: 105px;
    top: 1273px;

    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;
}

.role{
    position: absolute;
    width: 39px;
    height: 18px;
    left: 91px;
    top: 1368px;

    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;


}

/* Line 6 */

.role-line{
    position: absolute;
    width: 39px;
    height: 0px;
    left: 91px;
    top: 1386px;
    
    border: 1px solid #000000;
}

.role-text{
    position: absolute;
    width: 400px;
    height: 150px;
    left: 91px;
    top: 1416px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    
    color: #000000;
}

br{

        display: block;
        margin: 3px 0;

}

.overview{

    position: absolute;
    width: 69px;
    height: 18px;
    left: 702px;
    top: 1284px;

    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;

    
}

.overview-line{

    position: absolute;
    width: 68px;
    height: 0px;
    left: 703px;
    top: 1302px;

    border: 1px solid #000000;
}

.overview-text{
    position: absolute;
    width: 643px;
    height: 244px;
    left: 702px;
    top: 1322px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.05em;
    
    color: #000000;
}


.define{
    position: absolute;
    width: 158px;
    height: 60px;
    left: 91px;
    top: 1735px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}

.brief{
    position: absolute;
    width: 35px;
    height: 18px;
    left: 88px;
    top: 1964px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.brief-line{
      /* Line 10 */
    
    
      position: absolute;
      width: 34px;
      height: 0px;
      left: 88px;
      top: 1982px;
      
      border: 1px solid #000000;
}

.brief-text{
    position: absolute;
    width: 512px;
    height: 338px;
    left: 88px;
    top: 2065px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}


.approach{
    position: absolute;
    width: 70px;
    height: 18px;
    left: 697px;
    top: 1964px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.approach-line{ 
    position: absolute;
    width: 68px;
    height: 0px;
    left: 698px;
    top: 1982px;
    
    border: 1px solid #000000;
}

.approach-text{
    position: absolute;
    width: 643px;
    height: 338px;
    left: 697px;
    top: 2063px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    letter-spacing: 0.05em;
    
    color: #000000;    
}

.u-research{
    position: absolute;
    width: 350px;
    height: 60px;
    left: 91px;
    top: 2422px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.pop{
    height:450px;
}
.rec-pop{
    /* rec-pop */


position: absolute;
width: 384px;
height: 143px;
left: 91px;
top: 2611px;

background: #FFFDFD;
border: 2px solid #6F6F6F;
box-shadow: 2px 2px 5px 2px #EAC8FF;
border-radius: 10px;

}

.rec-pop-text{

position: absolute;
width: 328px;
height: 54px;
left: 119px;
top: 2656px;

font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 27px;
/* or 135% */

letter-spacing: 0.05em;
}

.rec-pop-1{

position: absolute;
width: 384px;
height: 143px;
left: 524px;
top: 2611px;

background: #FFFDFD;
border: 2px solid #6F6F6F;
box-shadow: 2px 2px 5px 2px #EAC8FF;
border-radius: 10px;
}

.rec-pop-1-text{
    position: absolute;
    width: 335px;
    height: 81px;
    left: 551px;
    top: 2642px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.rec-pop-2{
/* Rectangle 9 */


position: absolute;
width: 384px;
height: 143px;
left: 957px;
top: 2611px;

background: #FFFDFD;
border: 2px solid #6F6F6F;
box-shadow: 2px 2px 5px 2px #EAC8FF;
border-radius: 10px;

}
    
.rec-pop-2-text{
    position: absolute;
    width: 308px;
    height: 54px;
    left: 1000px;
    top: 2656px;

    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */

    letter-spacing: 0.05em;

    color: #000000;
}

.rec-pop-3{
    position: absolute;
    width: 817px;
    height: 143px;
    left: 91px;
    top: 2789px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
    
}

.rec-pop-3-text{
     /* “I firstly bought tumblers in franchise cafe. I and my friend have waited in front of the store since 4 a.m. to buy the limited cup when cafe release seasons collections of tumblers.” */
    
    
     position: absolute;
     width: 713px;
     height: 81px;
     left: 129px;
     top: 2822px;
     
     font-family: Apple SD Gothic Neo;
     font-style: normal;
     font-weight: 500;
     font-size: 20px;
     line-height: 27px;
     /* or 135% */
     
     letter-spacing: 0.05em;
     
     color: #000000;
}


.rec-pop-4{
    position: absolute;
    width: 384px;
    height: 143px;
    left: 957px;
    top: 2789px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
    
}

.rec-pop-4-text{ 
    position: absolute;
    width: 288px;
    height: 54px;
    left: 1005px;
    top: 2834px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.pop-footnote{
    position: absolute;
    width: 350px;
    height: 18px;
    left: 990px;
    top: 2952px;

    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;
}

.target{
position: absolute;
width: 200px;
height: 18px;
left: 88px;
top: 3015px;

font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}

.target-line{


position: absolute;
width: 113px;
height: 0px;
left: 89px;
top: 3033px;

border: 1px solid #000000;
}

.target-text{
position: absolute;
width: 1253px;
height: 152px;
left: 88px;
top: 3053px;

font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* or 150% */

letter-spacing: 0.05em;
}

.report{
    position: absolute;
    width: 270px;
    height: 18px;
    left: 88px;
    top: 3299px;

    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #000000;
}

.report-line{
    position: absolute;
    width: 262px;
    height: 0px;
    left: 89px;
    top: 3317px;
    
    border: 1px solid #000000;
}

.report-img1{
    position: absolute;
    width: 457px;
    height: 470px;
    left: 78px;
    top: 3337px;
    
}

.report-img2{
    position: absolute;
    width: 542px;
    height: 466px;
    left: 526px;
    top: 3344px;
}

.me{
    position: absolute;
    width: 192px;
    height: 192px;
    left: 100px;
    top: 4002px;
    

}
.q1{

    position: absolute;
    width: 984px;
    height: 50px;
    left: 430px;
    top: 3934px;

    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 167% */

    letter-spacing: 0.05em;

    color: #000000;

}

.q1-rec{

    position: absolute;
    width: 411px;
    height: 30px;
    left: 833px;
    top: 3943px;

    background: #EAC8FF;
}

.q2-rec{
    position: absolute;
    width: 202px;
    height: 30px;
    left: 931px;
    top: 4025px;
    
    background: #EAC8FF;
}

.q2{
    position: absolute;
    width: 984px;
    height: 50px;
    left: 430px;
    top: 4015px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    /* identical to box height, or 167% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}

.q3-rec{
    position: absolute;
    width: 736px;
    height: 30px;
    left: 553px;
    top: 4148px;
    
    background: #EAC8FF;
}
.q3{
    position: absolute;
    width: 984px;
    height: 100px;
    left: 430px;
    top: 4088px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
    /* or 167% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}


.insight-rec{

    position: absolute;
    width: 706px;
    height: 328px;
    left: 91px;
    top: 4262px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.insight{
    position: absolute;
    width: 67px;
    height: 27px;
    left: 110px;
    top: 4280px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    letter-spacing: 0.05em;
    
    color: #000000;    
}

.insight-text{
    position: absolute;
    width: 662px;
    height: 152px;
    left: 110px;
    top: 4318px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}

.challenge-rec{
    position: absolute;
    width: 505px;
    height: 328px;
    left: 842px;
    top: 4262px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}

.challenge{
    position: absolute;
    width: 140px;
    height: 27px;
    left: 862px;
    top: 4280px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    letter-spacing: 0.05em;
    
    color: #000000;      
}

.challenge-text{
    position: absolute;
    width: 452px;
    height: 248px;
    left: 862px;
    top: 4318px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    
    letter-spacing: 0.05em;
    
    color: #000000;    
}

.methods{

position: absolute;

height: 18px;
left: 88px;
top: 4650px;
font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: 800;
font-size: 15px;
line-height: 18px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}


.methods-line{
position: absolute;
width: 133px;
height: 0px;
left: 89px;
top: 4668px;

border: 1px solid #000000;
}

.methods-img1{
    position: absolute;
    width: 405px;
    height: 373px;
    left: 36px;
    top: 4724px;
}
.methods-img2{
    position: absolute;
    width: 499px;
    height: 394px;
    left: 483px;
    top: 4724px;
}
.methods-img3{
    position: absolute;
    width: 384px;
    height: 365px;
    left: 1004px;
    top: 4724px;
}




.analysis{
    position: absolute;
    width: 200px;
    height: 60px;
    left: 91px;
    top: 5308px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
}

.persona{
    position: absolute;
    width: 59px;
    height: 18px;
    left: 92px;
    top: 5482px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
        
}
.persona-line{
    position: absolute;
    width: 55px;
    height: 0px;
    left: 93px;
    top: 5500px;
    
    border: 1px solid #000000;
}

.persona1{
    position: absolute;
    width: 152px;
    height: 150px;
    left: 85px;
    top: 5552px;
}

.persona2{
    position: absolute;
    width: 153px;
    height: 142px;
    left: 777px;
    top: 5562px;    
}

.bio{
    position: absolute;
    width: 26px;
    height: 18px;
    left: 264px;
    top: 5562px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000;
      
}
.bio-text{
    position: absolute;
    width: 398px;
    height: 108px;
    left: 264px;
    top: 5586px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    
    color: #000000;
}

.bio1{
    position: absolute;
    width: 26px;
    height: 18px;
    left: 957px;
    top: 5569px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #000000; 
}

.bio1-text{
    position: absolute;
    width: 397px;
    height: 72px;
    left: 957px;
    top: 5596px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    
    color: #000000;
}

.name{
    position: absolute;
    width: 41px;
    height: 18px;
    left: 133px;
    top: 5741px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}
.name1{
    position: absolute;

    height: 18px;
    left: 264px;
    top: 5741px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}
.name2{
    position: absolute;
    width: 41px;
    height: 18px;
    left: 826px;
    top: 5741px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}
.name3{
    position: absolute;

    height: 18px;
    left: 957px;
    top: 5741px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}

.age{
    position: absolute;
    width: 28px;
    height: 18px;
    left: 133px;
    top: 5769px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.age1{
    position: absolute;
    width: 14px;
    height: 18px;
    left: 264px;
    top: 5769px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.age2{
    position: absolute;
    width: 28px;
    height: 18px;
    left: 826px;
    top: 5769px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.age3{
    position: absolute;
    width: 17px;
    height: 18px;
    left: 957px;
    top: 5769px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.occupation{
    position: absolute;
    width: 83px;
    height: 18px;
    left: 133px;
    top: 5797px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.occupation1{
    position: absolute;
    width: 54px;
    height: 18px;
    left: 264px;
    top: 5797px;   
}
.occupation2{
    position: absolute;
    width: 83px;
    height: 18px;
    left: 826px;
    top: 5797px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}
.occupation3{
    position: absolute;
    width: 40px;
    height: 18px;
    left: 957px;
    top: 5797px;    
}
.brands{
    position: absolute;
    width: 50px;
    height: 18px;
    left: 133px;
    top: 5830px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.brands1{
    position: absolute;
    width: 145px;
    height: 18px;
    left: 264px;
    top: 5830px;
       
}
.brands2{
    position: absolute;
    width: 50px;
    height: 18px;
    left: 826px;
    top: 5830px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}
.brands3{
    position: absolute;
    width: 210px;
    height: 18px;
    left: 957px;
    top: 5830px;    
}

.goal{
    position: absolute;
    width: 33px;
    height: 18px;
    left: 133px;
    top: 5867px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.goal1{
 
position: absolute;
width: 396px;
height: 36px;
left: 264px;
top: 5867px;   
}
.goal2{
    position: absolute;
    width: 40px;
    height: 18px;
    left: 826px;
    top: 5867px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;   
}
.goal3{
    position: absolute;
    width: 396px;
    height: 36px;
    left: 957px;
    top: 5867px;    
}

.frus{
    position: absolute;
    width: 82px;
    height: 18px;
    left: 133px;
    top: 5927px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}
.frus1{

    position: absolute;
    width: 396px;
    height: 54px;
    left: 264px;
    top: 5922px;    
}
.frus2{
    position: absolute;
    width: 82px;
    height: 18px;
    left: 826px;
    top: 5922px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}
.frus3{
    position: absolute;
    width: 397px;
    height: 18px;
    left: 957px;
    top: 5922px;   
}

.map{
    position: absolute;

    height: 18px;
    left: 89px;
    top: 6079px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
}
.map-line{
    position: absolute;
    width: 93px;
    height: 0px;
    left: 90px;
    top: 6097px;
    
    border: 1px solid #000000;
}
.map-persona{
    position: absolute;
    width: 153px;
    height: 142px;
    left: 158px;
    top: 6132px;
    
}
.map-text{
    position: absolute;
    width: 933px;
    height: 54px;
    left: 371px;
    top: 6172px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.map-img{
    position: absolute;
    width: 1227px;
    height: 527px;
    left: 145px;
    top: 6338px;
}

.core{
    position: absolute;

    height: 18px;
    left: 89px;
    top: 6996px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
}
.core-line{
    position: absolute;
    width: 164px;
    height: 0px;
    left: 90px;
    top: 7014px;
    
    border: 1px solid #000000;
}

.c-1-line{
    position: absolute;
    width: 372px;
    height: 0px;
    left: 302px;
    top: 7268px;
    
    border: 1px solid #000000;
}
.c-1-rec{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 89px;
    top: 7068px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;   
}
.c-1-rec1{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 378px;
    top: 7068px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-1-rec2{
    position: absolute;
    width: 672px;
    height: 378px;
    left: 673px;
    top: 7068px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-1-num{
    position: absolute;
    width: 22px;
    height: 27px;
    left: 108px;
    top: 7105px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    letter-spacing: 0.05em;
}
.c-1-needs{
    position: absolute;
    width: 164px;
    height: 108px;
    left: 108px;
    top: 7248px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
}
.c-1-func{
    position: absolute;
    width: 129px;
    height: 108px;
    left: 397px;
    top: 7248px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
}
.c-1-img{
    position: absolute;
    width: 558.45px;
    height: 343px;
    left: 730px;
    top: 7086px;
    
}


.c-2-line{
    position: absolute;
    width: 372px;
    height: 0px;
    left: 302px;
    top: 7762px;
    
    border: 1px solid #000000;
}
.c-2-rec{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 89px;
    top: 7562px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;    
}
.c-2-rec1{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 378px;
    top: 7562px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-2-rec2{
    position: absolute;
    width: 672px;
    height: 378px;
    left: 673px;
    top: 7562px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-2-num{
    position: absolute;
    width: 25px;
    height: 27px;
    left: 108px;
    top: 7599px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    letter-spacing: 0.05em;
}
.c-2-needs{
    position: absolute;
    width: 164px;
    height: 108px;
    left: 108px;
    top: 7742px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
}
.c-2-func{
    position: absolute;
    width: 174px;
    height: 108px;
    left: 397px;
    top: 7742px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
}
.c-2-img{
    position: absolute;
    width: 355.02px;
    height: 343px;
    left: 831px;
    top: 7580px;
}

.c-3-line{
    position: absolute;
    width: 372px;
    height: 0px;
    left: 302px;
    top: 8256px;
    
    border: 1px solid #000000;
}
.c-3-rec{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 89px;
    top: 8056px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;   
}
.c-3-rec1{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 378px;
    top: 8056px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-3-rec2{
    position: absolute;
    width: 672px;
    height: 378px;
    left: 673px;
    top: 8056px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-3-num{
    position: absolute;
    width: 25px;
    height: 27px;
    left: 108px;
    top: 8093px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    letter-spacing: 0.05em;
    
}
.c-3-needs{
    position: absolute;
    width: 164px;
    height: 81px;
    left: 108px;
    top: 8236px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
}
.c-3-func{
    position: absolute;
    width: 134px;
    height: 81px;
    left: 397px;
    top: 8236px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
    
}
.c-3-img{
    position: absolute;
    width: 359.21px;
    height: 348px;
    left: 829px;
    top: 8071px;
}

.c-4-line{
    position: absolute;
    width: 372px;
    height: 0px;
    left: 302px;
    top: 8750px;
    
    border: 1px solid #000000;
}
.c-4-rec{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 89px;
    top: 8550px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;   
}
.c-4-rec1{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 378px;
    top: 8550px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-4-rec2{
    position: absolute;
    width: 672px;
    height: 378px;
    left: 673px;
    top: 8550px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
}
.c-4-num{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 108px;
    top: 8587px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    letter-spacing: 0.05em;
    
    color: #000000;
    
}
.c-4-needs{
    position: absolute;
    width: 164px;
    height: 108px;
    left: 108px;
    top: 8730px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
    
}
.c-4-func{
    position: absolute;
    width: 172px;
    height: 81px;
    left: 397px;
    top: 8730px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
    
}
.c-4-img{
    position: absolute;
    width: 352.63px;
    height: 343px;
    left: 833px;
    top: 8568px;
}

.c-5-line{
    position: absolute;
    width: 372px;
    height: 0px;
    left: 302px;
    top: 9244px;
    
    border: 1px solid #000000;
}
.c-5-rec{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 89px;
    top: 9044px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;    
}
.c-5-rec1{
    position: absolute;
    width: 213px;
    height: 378px;
    left: 378px;
    top: 9044px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
    
}
.c-5-rec2{
    position: absolute;
    width: 672px;
    height: 378px;
    left: 673px;
    top: 9044px;
    
    background: #FFFDFD;
    border: 2px solid #6F6F6F;
    box-shadow: 2px 2px 5px 2px #EAC8FF;
    border-radius: 10px;
    
}
.c-5-num{
    position: absolute;
    width: 25px;
    height: 27px;
    left: 108px;
    top: 9081px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    letter-spacing: 0.05em;
}
.c-5-needs{
    position: absolute;
    width: 164px;
    height: 81px;
    left: 108px;
    top: 9224px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
}
.c-5-func{
    position: absolute;
    width: 178px;
    height: 81px;
    left: 397px;
    top: 9224px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    /* or 135% */
    
    letter-spacing: 0.05em;
    
}
.c-5-img{
    position: absolute;
    width: 158.21px;
    height: 343px;
    left: 930px;
    top: 9062px;
}



.design{
    position: absolute;
    width: 163px;
    height: 60px;
    left: 91px;
    top: 9605px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    /* identical to box height */
    
    letter-spacing: 0.05em;    
}

.workflow{
    position: absolute;
    width: 70px;
    height: 18px;
    left: 89px;
    top: 9779px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;   
}

.workflow-line{
    position: absolute;
    width: 69px;
    height: 0px;
    left: 87px;
    top: 9797px;
    
    border: 1px solid #000000;   
}

.wireframe{
    position: absolute;
    width: 76px;
    height: 18px;
    left: 416px;
    top: 9779px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
}

.wireframe-line{
    position: absolute;
    width: 73px;
    height: 0px;
    left: 417px;
    top: 9797px;
    
    border: 1px solid #000000;   
}

.sh{
    position: absolute;

    height: 18px;
    left: 890px;
    top: 9779px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    
    letter-spacing: 0.05em;

}
.sh-line{

    position: absolute;
    width: 241px;
    height: 0px;
    left: 891px;
    top: 9797px;
    
    border: 1px solid #000000;
}

.d-1-img{
    position: absolute;
    width: 284px;
    height: 354px;
    left: 70px;
    top: 9839px;
}
.d-2-img{
    position: absolute;
    width: 428px;
    height: 396px;
    left: 397px;
    top: 9818px;   
}
.d-3-img{
    position: absolute;
    width: 479px;
    height: 365px;
    left: 905px;
    top: 9833px;    
}


.bottom-text{
    position: absolute;
    width: 620px;
    height: 150px;
    left: 653px;
    top: 10584px;
    
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 75px;
    /* or 187% */
    
    letter-spacing: 0.05em;
    
    color: #000000;

}
.meme{

    position: absolute;
width: 242px;
height: 242px;
left: 1113px;
top: 10750px;
}

.back{
    position: absolute;

height: 75px;
left: 1000px;
top: 11163px;

font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 75px;
/* identical to box height, or 187% */

letter-spacing: 0.05em;

color: #000000;
}